<ul class="social-links">
  <li>
    <a
      href="https://github.com/George-Anagnostou"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub Profile"
    >
      <img
        src="/static/images/github-mark.svg"
        alt="GitHub Profile"
        class="social-icon"
      />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/george-anagnostou-2478ba341/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn Profile"
    >
      <img
        src="/static/images/LI-In-Bug.png"
        alt="LinkedIn Profile"
        class="social-icon"
      />
    </a>
  </li>
</ul>
